html {
    background-color: #EEE;
}

body {
    background-color: #FFF;
    font-family: "Trebuchet MS", Helvetica, Arial;
    border-width: 1px 3px 3px 1px;
    max-width: 50em;
}

#address {
    height: 2em;
    width: 47em;
    margin: 1em 0 1em 0;
}

#address div {
    width: 40%;
    float: left;
    padding: 0 .5em 0 1.5em;
    border-left: 1px solid #CCC;
}

#address div#first {
    border-left: none;
}

#address h3 {
    border-bottom: none;
    margin-top: 0;
}

.date {
    float: right;
    font-size: .8em;
    margin-top: .4em;
    text-align: right;
}

abbr,
acronym {
    border-bottom: 1px dotted #333;
    cursor: help;
}

address {
    font-style: italic;
    color: #333;
    font-size: .9em;
}

ul {
    padding-inline-start: 20px;
    margin-block-start: .5em;
    margin-block-end: .5em;
    margin-top:8px;
    margin-bottom:8px;
}

ul ul {
    padding-inline-start: 0px;
    margin-block-start: .1em;
    margin-block-end: 0em;
}

ul.twocolumn {
    display: inline-block;
    width: 100%;
}

ul.threecolumn {
    display: inline-block;
    width: 100%;
}

ul.twocolumn li {
    float: left;
    list-style: circle outside none;
    margin-left: 1em;
    margin-right: 1em;
    /*width: 50%;*/
}

ul.threecolumn li {
    float: left;
    list-style: circle outside none;
    margin-left: 1em;
    width: 33%;
}

ul.float-cols {
    display: flex;
    /*justify-content: space-between;*/
    flex-wrap: wrap;
}

ul.float-cols li {
    margin-left: 1em;
    margin-right: 1em;
    list-style: circle outside none;
}

span.block {
    display: inline-block;
}

h1 {
    font-size: 1.5em;
    font-family: Helvetica, Verdana, Arial, sans-serif;
    margin: 0 0 0 0;
}

h2 {
    clear: both;
    font-size: 1.4em;
    font-weight: bold;
    font-variant: small-caps;
    background-color: #EEE;
    border-bottom: 1px solid #999;
    letter-spacing: .06em;
    margin: .4em 0 0 0;
}

h3 {
    margin: 0 0 0 0;
}

body {
    background-color: #FFF;
    border-width: 0 0 0 0;
    margin: 0;
    width: 100%
}